* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  background: linear-gradient(146deg, black 0%, black 19%, #6c757d 20.1%, #0f1014 20.3%, #ffffff 70%);
  background-color: #0f1014;
}

/*---------- NavBar ---------- */

.navbar {
  padding: 22px 22px 22px 22px;
  background-color: rgba(0, 0, 0, .95);
  transition: all .5s ease-in;
}

.navbar li {
  padding-left: 17px;
}

.navbar a {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
  transition: all .5s ease-in-out;
}

.navbar a:hover {
  color: #228e3a;
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
  transition: all .5s ease-in-out;
}

.navbar-toggler:hover {
  border-color: #228e3a;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.navbar-logo {
  font-size: 23px;
}

.show {
  text-align: center;
  padding-top: 10px;
}

/* ---------------About Page ---------------*/

#about {
  padding-top: 6em;
  padding-bottom: 2em;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.info-text {
  padding-top: 3.2em;
  padding-left: 3em;
  padding-right: 3em;
  color: #cbd9e4;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
  line-height: 34px;
}

.container.pic {
  margin-left: 10px;
  margin-right: 10px;
  max-width: none;
}

.avatar {
  border-radius: 50%;
  border: 1px solid white;
  width: 58% !important;
}

.mainpic {
  padding-top: 10px;
}

.hi {
  color: #fff;
  font-size: 48px;
  font-family: 'Montserrat', serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.jumbotron {
  background: none;
  padding-top: 8px;
}

/* ---------------Project Page ---------------*/

#project {
  margin-left: 25%;
  width: 50%;
  margin-top: 1px;
  margin-bottom: 3em;
  border: 0;
  border-top: 1px solid #dee2e64f;
}

#second {
  margin-left: 32%;
  width: 36%;
  margin-top: 1px;
  margin-bottom: 3em;
  border: 0;
  border-top: 1px solid #dee2e64f;
}

.title {
  font-family: 'Montserrat', serif;
  font-size: 2.5em;
  color: #e9ecef;
  text-shadow: 2px 1px 1px #212529;
  padding-top: 1.2em;
  padding-bottom: 2em;
}

h4 {
  font-size: 1.2rem;
  padding-bottom: 4em;
  color: #282e34;
}

#githublink {
  color: #28a745;
}

#githublink:hover {
  color: #f8f9fa;
}

.col-lg-4.col-md-6.col-sm-6 {
  padding-bottom: 2em;
}

.works {
  padding-left: 4em;
  padding-right: 4em;
}

.projects-wrap {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.projects-wrap, .projects-wrap * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.projects-wrap img {
  width: 100%;
  height: 100%;
}

.projects-wrap.text-center {
  position: relative;
  border: 6px solid #6c757d;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.77);
  border-radius: 10px;
}

.text-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  backface-visibility: hidden;
}

.effect {
  overflow: hidden;
  position: relative;
}

.effect .img {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.overlay1, .overlay2 {
  position: absolute;
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  height: 500px;
  width: 500px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.overlay1 {
  left: auto;
  right: 0;
  top: 0;
  -webkit-transform: rotate(56.5deg) translateX(-180px);
  transform: rotate(56.5deg) translateX(-180px);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.overlay2 {
  top: auto;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(56.5deg) translateX(180px);
  transform: rotate(56.5deg) translateX(180px);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.text-info {
  visibility: hidden;
  position: absolute;
}

.text-info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: transparent;
  margin-top: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out 0.35s;
  transition: all 0.35s ease-in-out 0.35s;
}

.text-info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #dfdfdf;
  padding: 1em .4em .4em;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out 0.35s;
  transition: all 0.35s ease-in-out 0.35s;
}

.effect:hover .overlay1 {
  -webkit-transform: rotate(56.5deg) translateX(1px);
  transform: rotate(56.5deg) translateX(1px);
}

.effect:hover .overlay2 {
  -webkit-transform: rotate(56.5deg) translateX(-1px);
  transform: rotate(56.5deg) translateX(-1px);
}

.effect:hover .text-info {
  width: auto;
  height: auto;
  visibility: visible;
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.effect:hover .text-info h3, .effect:hover .text-info p {
  opacity: 1;
}

#midOL {
  -webkit-transform-origin: 98.3% 0%;
  transform-origin: 98.3% 0%;
}

.primary {
  -webkit-transition: visibility 0.15s ease-in 0.35s;
  transition: visibility 0.15s ease-in 0.35s;
  background-color: #8a8a8a82;
  border: 1px solid #f8f9fa;
  color: #fff;
  border-radius: 16px;
  display: inline-flex;
  padding-bottom: calc(0.4em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.36em - 1px);
  font-weight: 400;
}

.primary:hover {
  -webkit-transition: 4s;
  transition: .4s;
  background-color: #ffffffc9;
  color: #343a40;
  text-decoration: none;
  font-weight: 400;
}

/* --------------- Credentials ---------------*/

#cred-title {
  text-align: center;
  padding: 4em 10px;
  font-family: 'Montserrat', serif;
  font-size: 2.5em;
  color: #e9ecef;
  text-shadow: 2px 1px 1px #212529;
}

.split-cred {
  text-align: center;
  padding-bottom: 8em;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 2px 4px 20px 1px;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 42%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 42%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 2em;
  right: 5em;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* --------------- Contact ---------------*/

#contact {
  border-radius: 5px;
  padding: 10px;
}

#cnt {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 2em;
  font-family: 'Montserrat', serif;
  font-size: 2.5em;
  color: #6c757d;
  text-shadow: 2px 1px 1px #495057;
}

.btn {
  width: 30%;
  display: block;
}

.btn-primary {
  width: 100%;
}

.map-contact {
  margin-top: 42px;
  padding: 20px;
}

.info-contact {
  margin-top: 42px;
  padding: 20px;
  max-width: 100%;
}

.form-row {
  display: block;
}

.colmns {
  max-width: 100%;
}

.split-contact:after {
  content: "";
  display: table;
  clear: both;
}

.zocial-contact {
  text-align: center;
  font-size: 14px;
  padding-top: 2em;
}

.linkedin, .github {
  margin-right: 10px;
}

#map {
  border-radius: 10px;
}

#thanks, #mesg {
  text-align: center;
  padding: 32px 32px;
}

#socialz {
  margin-left: 25%;
  width: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 0;
  border-top: 1px solid #dee2e6;
}

footer {
  padding-top: 1em;
  padding-left: 10px;
}

/* --------------- Media Queries ---------------*/

@media only screen and (max-width: 767px) {
  body {
    background: #212529;
  }
  .avatar {
    width: 90% !important;
  }
  .jumbotron {
    padding-top: 2em;
    padding-bottom: 10px;
  }
  #about {
    padding-bottom: 10px;
  }
  .title {
    padding-top: 20px;
  }
  .works {
    padding-left: 1em;
    padding-right: 1em;
  }
  #project {
    margin-left: 0;
    width: 100%;
  }
  #second {
    margin-bottom: 1px;
    visibility: hidden;
  }
  #udacity, p, h4 {
    color: #fff;
  }
  #cred-title {
    padding: 2em 10px;
  }
  .split-cred {
    padding-bottom: 4em;
  }
  .map-contact {
    padding: 20px 1px;
  }
  #cnt {
    padding-top: 1.1em;
    padding-bottom: 40px;
    color: #e9ecef;
    text-shadow: 2px 1px 1px #212529;
  }
  .btn {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }
  #contact {
    text-align: center;
    color: #fff;
  }
  #thanks {
    padding: 20px 20px;
  }
  footer {
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  .close {
    visibility: hidden;
  }
  @media screen and (max-width: 600px) {
    .map-contact {
      width: 100%;
      margin-top: 0;
    }
  }
