body {
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  background: linear-gradient(146deg, black 0%, black 38%, #000000 39%, #0f1014 40%, #ffffff 70%);
  background-color: #0f1014;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------- NavBar ---------- */

.navbar {
  padding: 22px 22px 22px 22px;
  background-color: rgba(0, 0, 0, .95);
  transition: all .5s ease-in;
}

.navbar li {
  padding-left: 17px;
}

.navbar a {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
  transition: all .5s ease-in-out;
}

.navbar a:hover {
  color: #228e3a;
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
  transition: all .5s ease-in-out;
}

.navbar-toggler:hover {
  border-color: #228e3a;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.navbar-logo {
  font-size: 23px;
}

.show {
  text-align: center;
  padding-top: 10px;
}

/* ---------------About Page ---------------*/

#aboutpage {
  padding-top: 3.5em;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.info-text {
  padding-left: 3em;
  padding-right: 3em;
}

.about {}

.avatar {
  border-radius: 50%;
  border: 1px solid white;
  width: 86% !important;
}

.mainpic {
  padding-top: 10px;
}

.pic {
  /* padding-left: 0px;
  margin-left: 0px; */
}

.hi {
  color: #fff;
  font-size: 52px;
  font-family: 'Montserrat', serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}

p {
  color: #212121;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
  line-height: 34px;
}

.jumbotron {
  background-color: #e9ecef00;
}

/* ---------------Project Page ---------------*/

.works {
  padding-top: 2em;
}

#project {}


/* --------------- Media Queries ---------------*/

@media only screen and (max-width: 767px) {
  p {
    color: #fff;
}
