html {
  font-family: monospace;
}

body {
  background-color: #9e9e9e94;
}

.form-heading {
  text-align: center;
  padding-bottom: 1em;
}

.grp {
  width: 52%;
  margin: 0 auto;
}

.btn {
  margin-top: 20px;
  text-align: center;
}

.colmns {
  padding-bottom: 10px;
}
