body {
  background: #ebebeb;
  font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #999;
  margin: 0px;
  overflow-y: scroll;
  line-height: 30px;
}
img {
  max-width: 100%;
  display: block;
  margin: auto;
}
h1, h2, h3 {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: .5rem;
}
header {
  padding-top: 15px;
}
header .container {
  max-width:980px;
  display: flex;
  position: relative;
}
header .line {
  border-bottom: solid 4px #BAAECD;
  width: 100%;
}
header .leftCol {
  width: 40%;
  height: 40%;
  float: left;
}
header .rightCol {
  width: 80%;
  text-align: right;
  float: right;
}
header .rightCol .name {
  padding-bottom: 5px;
  text-transform: uppercase;
}
header .rightCol .career {
  font-size: 17px;
  line-height: 30px;
  float: right;
}
header .face {
  background: url("FullSizeRender1.jpg") no-repeat center;
  background-size: cover;
  border-radius: 30%;
  display: inline-block;
  width:70px;
  height:90px;
}
h2.heading {
  text-transform: uppercase;
  margin: 1.5rem 0;
  border-bottom: dotted 1px #BAAECD;
  line-height: 5px;
  font-weight: 500;
  color:#627788;
}
h2.heading span {
  background: #ebebeb;
  padding-right: 10px;
}
.container {
  max-width:980px;
  margin: auto;
  padding: 12px 22px;
}
#items {
  display: flex;
  flex-flow: row wrap;
}
#items .portfolio-item {
  background: #fff;
  width: 32%;
  margin-bottom:5%;
  text-align: center;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 2%;
}
#items .portfolio-item img{
  border-radius: 3px 3px 0 0;
}
#items .portfolio-item .text_block{
  padding: 1.5rem;
}
#items .portfolio-item h3 {
  font-size:20px;
}
#items .portfolio-item:nth-child(3n-1) {
  margin-right:2%;
  margin-left:2%;
}
footer {
  max-width:980px;
  margin:0 auto;
  padding:10px 20px;
}
@media screen and (min-width: 600px) and (max-width: 850px)  {
  #items .portfolio-item{
    width:40%;
  }
}
@media screen and (max-width: 600px)  {
  #items .portfolio-item{
    width:99%;
    margin-right:0;
    margin-left:0;
    margin-bottom:20px;
  }
}
