* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  /* The image used */
  background-image: url("../img/yuriy-garnaev-395879-unsplash.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #303139;
  font-family: 'Titillium Web', sans-serif;
}

/* ----------------------- Header Styling ----------------------- */

.home-header {
  width: 100%;
  position: absolute;
}

.header-logo {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 20px;
}

.header-logo a {
  display: block;
  padding: 0;
  outline: 0;
  border: none;
  width: 136px;
}

img {
  width: 100%;
}

/* ----------------------- Menu Styling ----------------------- */

.header-nav {
  background: rgb(19, 19, 21);
  ;
  text-align: center;
  padding: 2em 4em 4em 4em;
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 1;
  transition: all 0.7s ease;
  transform: translateX(100%);
  visibility: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.59);
  border-right: 1px solid rgba(0, 0, 0, 0.59);
}

.header-nav h3 {
  line-height: 1.5;
  letter-spacing: .26em;
  margin-bottom: 4em;
  margin-top: .55em;
  color: #228e3a;
}

.header-nav-list {
  font-size: 1.6em;
  padding-bottom: 4em;
  list-style: none;
}

.header-nav-list li {
  line-height: 4.2em;
}

.header-nav-list a, .header-nav-list a:visited {
  color: #CECFD0;
}

.header-nav-list a:hover {
  color: #ffff;
}

.header-nav-social {
  font-size: 1.6em;
}

.header-nav-social li {
  margin-right: 14px;
  display: inline-block;
}

hr {
  border-top: 1px solid #22394ba3;
  ;
}

/* ----------------------- Social Styling ----------------------- */

.fa-linkedin {
  color: #0077B5;
}

.fa-github {
  color: #423d3d;
}

.fa-envelope {
  color: #495057;
}

.fa:hover {
  color: #ffff;
}

/* ----------------------- Close Button Styling ----------------------- */

.header-nav-close {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 30%;
  top: 16px;
  right: 20px;
  background-color: #6c757d17;
  position: absolute;
  font: 0/0 a;
  z-index: 2;
}

.header-nav-close span::before, .header-nav-close span::after {
  content: "";
  display: block;
  height: 2px;
  width: 12px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 9px;
  margin-top: -1px;
}

.header-nav-close span::before {
  transform: rotate(-45deg);
}

.header-nav-close span::after {
  transform: rotate(45deg);
}

/* ----------------------- Menu Open ----------------------- */

.menu-open .header-nav {
  transform: translateX(0);
  visibility: visible;
}

.menu-open .header-nav .header-nav-content {
  opacity: 1;
  visibility: visible;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.6s;
}

/* ----------------------- Menu Toggle ----------------------- */

.header-menu-toggle {
  color: #ced4da;
  position: fixed;
  right: 38px;
  top: 46px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: .3em;
}

.header-menu-toggle:hover {
  color: #FFFFFF;
}

.header-menu-toggle:focus {
  color: #228e3a;
}

.header-menu-text {
  display: block;
  position: absolute;
  top: 0;
  left: -90px;
  width: 70px;
  padding-left: 10px;
  visibility: hidden;
}

/* ----------------------- Menu Hamburger ----------------------- */

.header-menu-icon {
  display: block;
  width: .9em;
  height: 2px;
  margin-top: -1px;
  position: absolute;
  left: 50%;
  top: 48%;
  background-color: #228e3a;
}

.header-menu-icon::before, .header-menu-icon::after {
  content: '';
  width: 136%;
  height: 100%;
  background-color: inherit;
  position: absolute;
}

.header-menu-icon::before {
  top: 9px;
}

.header-menu-icon::after {
  bottom: 9px;
}

/* ----------------------- Home Content ----------------------- */

.home {
  margin-top: 4em;
  display: inline-block;
  padding: 44px;
}

h1 {
  color: #228e3a;
  font-family: 'Righteous', cursive;
  text-shadow: 1px 1px #f8f9fa;
  font-size: 4em;
}

h2 {
  font-family: 'News Cycle', sans-serif;
  color: #ced4da;
  text-shadow: 8px 5px 8px #000000d1;
  padding-left: 2px;
  font-size: 1.5rem;
}

/* ----------------------- Home Social Content ----------------------- */

.social {
  display: inline-flex;
  font-family: 'Righteous', sans-serif;
  list-style: none;
  position: absolute;
  bottom: 5%;
  right: 2em;
}

.social li {
  position: relative;
  padding: 0 6px;
}

.social li a {
  display: block;
  width: 33px;
  height: 33px;
}

.social i, .social span {
  position: absolute;
  transition: all 0.4s ease-out;
}

.social i {
  font-size: 18px;
  right: 0;
  text-align: center;
  display: inline-block;
  width: 33px;
  height: 33px;
  line-height: calc(33px - 4px);
  border: 2px solid #bcbdbd;
  border-radius: 30%;
}

.social i.fa-linkedin:hover {
  border-color: #0077B5;
}

.social i.fa-github:hover {
  border-color: #423d3d;
}

.social i.fa.fa-envelope:hover {
  border-color: #495057;
}

.social span {
  font-size: 1.3em;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transform-origin: 100% 50%;
}

#LI {
  color: #0077B5;
  right: 2em;
}

#GH {
  color: #423d3d;
  right: 4.1em;
}

#EML {
  color: #495057;
  right: 6.3em;
}

.social li:hover span {
  opacity: 1;
  visibility: visible;
  transform: scale(.8);
}
